<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <title>MyChillNews</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="caesarians_files/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="caesarians_files/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <style>
     .navbar-brand {
      	margin: 0px;
      	padding: 0px;
      }
      .navbar {
      	min-height: 60px;
      }
      .navbar-nav {
	      font-size: 18px;
	      margin: auto;
	    }
	</style>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="/static/titleicon.png"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<br/><br/><br/><br/>

    <div class="container">

    <style>
      {% for i in range(0, row_colors|length) %}
      .d{{i}} {
      	background-color:{{ row_colors[i] }};
      }
      {% endfor %}
     .src-name {
      	font-weight: bold;
      	font-size: large;
      }
     .recommended {
      	font-weight: bold;
      	font-size: xx-large;
      	margin: auto;
      	 text-align: center;
      }
      img.scaling {
	      max-width:100%;

	 }
	 a#recommendation {
		text-decoration: underline;
	}
	li.list-group-item {
		cursor: move;
	}
	.src_col {
		margin: auto;
		width: 70%;
	}
    </style>

    <div class="container-fluid">
    <div class="row">

    	<div class="col-sm-5">
        <p class="lead"> These are the estimated stress impacts of <b>today's</b> front pages. </p>
        <p class="lead"> Reorder by dragging your favorites to the top: </p>
		<p class ="src_col">
			<div class="col-sm-10">
			<ul id="news_srcs" class="list-group">
			  {% for i in range(0, mean_by_name|length) %}
				<li class="d{{i}} list-group-item" data-id="{{i}}"> <span class="src-name"> {{ mean_by_name.iloc[i]['name'] }}</span>  </li>
			  {% endfor %}
			</ul>

        <p class="tiny"> Data refreshed: {{date_to_use}}</p>
        </p>
		</div>
		</div> <!-- span6 -->

		<div class="col-sm-5">
			<p class="lead">Choose your maximum stress impact for today: </p>
			<img src="/static/coolwarm.png" class="scaling">
			  <input type="range" id="sis_tolerance" onInput="update_recommendation(sortable.toArray())" value="1000" min="0" max="1000" data-show-value="false">
	  		Today I recommend you read:
			<div class="recommended">
				<p><a id="recommendation"  href="http://nytimes.com"></a></p>
				<p><a id="thumbnail_link"><img id="thumbnail_img" src=""  hidden=true></a></p>
			</div>
		</div> <!-- span6 -->
		<div class="col-sm-1">
		</div>
      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
	</div> <!-- /row -->
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="caesarians_files/bootstrap.js"></script>
    <script src="static/bootstrap.js"></script>
     <script src="../static/bootstrap.js"></script>
   <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="caesarians_files/ie10-viewport-bug-workaround.js"></script>
  <script src="static/js/bootstrap.min.js"></script>

<script src="../static/js/Sortable.js"></script>
<script type="text/javascript">
    function pick_src(preference_order, sis_list, sis_tolerance){
    	var i=0;
    	cur_item = parseInt(preference_order[i]);
    	// Find the first one on the list that is below the user's maximum sis threshold
    	while ((sis_list[cur_item] > sis_tolerance) && (i < sis_list.length)) {
    		i++;
    		cur_item = parseInt(preference_order[i]);
    	}

    	// If none found, just make it the lowest sis score on the list
    	if (i == sis_list.length) {
    		cur_item = sis_list.indexOf(Math.min.apply(null, sis_list));
    	}
    	return cur_item;

    }

    function update_recommendation(preference_order) {
    	sis_list = [{{ sis_values_string }}];
    	name_list = [{{ src_names_string | safe}}];
    	url_list = [{{ url_string | safe}}];
    	thumbnail_path_list = [{{ thumbnail_string | safe}}];

    	tolerance_slider = document.getElementById('sis_tolerance');
    	sis_tolerance = tolerance_slider.value;

    	recommendation = pick_src(preference_order, sis_list, sis_tolerance);

        document.getElementById("recommendation").innerHTML = name_list[recommendation];
        document.getElementById("recommendation").href = url_list[recommendation];
        document.getElementById("thumbnail_link").href = url_list[recommendation];
        document.getElementById("thumbnail_img").src = thumbnail_path_list[recommendation];
        document.getElementById("thumbnail_img").hidden = false;
    }
    // Simple list
	var el = document.getElementById('news_srcs');
	var sortable = Sortable.create(el, {
		onUpdate: function (/**Event*/evt) {
			update_recommendation(this.toArray());
		}
	 }
	);
	//update_recommendation(sortable.toArray());

</script>

</body></html>
